.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  margin-bottom: -70px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scale(-1, 1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___image {
  max-height: 250px;
}

.fighter-preview___name {
  color: white;
  font-size: 30px;
}

.fighter-preview___properties {
  background: rgba(116, 83, 22, 0.75);
  border-radius: 10%;
  display: flex;
  justify-content: space-between;
}

.fighter-preview___properties span {
  margin: 0 5px;
  font-size: 20px;
  color: white;
  text-align: center;
}
